body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer {
    text-align: center;
    padding: 1rem;
    background-color: #022c43;
    color: #fff;
}

main {
    flex: 1;
    padding: 20px;
}

h1 {
    text-align: center;
}

.picture-box {
    text-align: center;
    margin: 20px 0;
}

nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: #022c43;
    align-items: center;
    padding: 1rem 0;
}

nav div a {
    text-decoration: none;
    color: white; 
    padding: 0.5rem 1rem; 
}

nav div a:hover {
    background-color: #034f6d;
    border-radius: 5px; 
}

form {
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

#login form {
    max-width: 400px;

}

form label {
    display: block;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="password"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box; /* Added for box sizing */
}

form button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #022c43;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #034f6d;
}

footer {
    padding: 1rem;
    text-align: center;
}

.radio-container {
    display: flex;
    justify-content: start;
    gap: 20px;
}

textarea {
    width: 90%;
    height: 150px;
    padding: 10px;
    margin-bottom: 20px;
    resize: none;
}

textarea.reference {
    width: 30%;
    height: 30px;
}


@media (max-width: 768px) {
    nav {
        flex-direction: column;
    }
    
    .picture-box img {
        max-width: 95%; /* Adjust for small screens */
    }
}

@media (max-width: 480px) {
    nav div a {
        padding: 0.5rem; /* Reduce padding on small screens */
    }
    
    form {
        width: 95%; /* Allow form to take more screen width on small screens */
    }
}

/* Discover Page */

.collapsible-content {
    overflow: hidden;
    background-color: #f9f9f9;
    margin: 0 20px;
    padding: 0 10px;
    transition: max-height 0.3s ease-out;
    max-height: 0;
}
  
.collapsible-header {
    cursor: pointer;
    padding: 10px 15px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    background-color: #e7eff6;
    color: #022c43;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    margin: 20px 0;
    transition: background-color 0.2s ease;
}
  
.collapsible-header:hover {
    background-color: #ddd;
}

.entry {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc; /* Light grey border */
    border-radius: 5px; /* Slightly rounded corners for a softer look */
    background-color: #f9f9f9; /* Light grey background */
}
  
.entry-separator {
    margin: 0 5px;
    color: #666; /* Darker grey for the separator to make it subtle */
}
  
.entry strong {
    color: #333; /* Dark grey for text labels for better readability */
}

/* Share Page */

#share {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

#share form {
    flex-grow: 1;
}

#share form button {
    width: 30%;
    height: 40px;
    margin-top: 20px;
}

@media (max-width: 768px) {
    #share {
        flex-direction: column;
        align-items: center;
    }
    .picture-box {
        margin: 20px 0;
    }
    textarea.reference {
        width: 90%;
    }
}